<?xml version="1.0" encoding="UTF-8"?>
<web-app>
    <display-name>Jersey RESTful Application</display-name>

    <servlet>
        <servlet-name>hello</servlet-name>
        <servlet-class>org.mortbay.ijetty.hello.HelloWorld</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>hello</servlet-name>
        <url-pattern>/sayit/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ApplicationDispatcherServlet</servlet-name>
        <servlet-class>org.mortbay.ijetty.dispatcher.ApplicationDispatcherServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ApplicationDispatcherServlet</servlet-name>
        <url-pattern>/api/*</url-pattern>
    </servlet-mapping>


</web-app>
